node_modules
dist
coverage
*.js
*.d.ts
*.json
*.md
*.html
*.css
*.scss
*.less
*.svg
*.eot
*.ttf
*.woff
*.woff2
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.mp4
*.webm
*.wav
*.mp3
*.m4a
*.aac
*.oga
*.pdf
*.zip
*.gz
*.tgz
*.gzip
.DS_Store
.angular
.idea
.vscode
*.log
*.tsbuildinfo
