dist
e2e
node_modules
package.json
package-lock.json
*.md
*.yml
*.yaml
*.json
*.html
*.css
*.scss
*.less
*.svg
*.eot
*.ttf
*.woff
*.woff2
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.mp4
*.webm
*.wav
*.mp3
*.m4a
*.aac
*.oga
*.pdf
*.zip
*.gz
*.tgz
*.gzip
.DS_Store
.angular
.idea
.vscode
*.log
coverage
*.tsbuildinfo
